@import "tailwindcss";

@theme {
  --color-accent-blue: #2563eb;
  --color-accent-cyan: #0ea5e9;
  --color-accent-green: #10b981;
  --color-accent-amber: #f59e0b;
  --color-accent-red: #ef4444;
  --color-accent-purple: #8b5cf6;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
